# Ignore by default
*

# GitHub
!LICENSE
!README.md

# System + Home Manager
!.config
!.config/home-manager
!.config/home-manager/**
!.config/nixos
!.config/nixos/**
.config/nixos/hardware.nix

# Hyprland Extra
!.config/hypr/extra.conf

# Templates
!Templates
!Templates/**
