# Ignore by default
*

# GitHub
!LICENSE
!README.md

# System + Home Manager
!.config
!.config/home-manager
!.config/home-manager/**
.config/home-manager/files/wallpapers/*
!.config/home-manager/files/wallpapers/default.jpg
!.config/nixos
!.config/nixos/**

# Hyprland
!.config/hypr
!.config/hypr/**
.config/hypr/hyprland.conf

# gtklock 
!.config/gtklock
!.config/gtklock/**

# get-icon-cache
!.get-icon-cache
!.get-icon-cache/**
