* {
    font-family: Noto Sans;
    font-size: 16px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}

window#waybar {
    border-radius: 5px;
    background-color: rgba(17, 17, 17, 0.8);
    /* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 5px;
    margin: 2px 2px 2px 0px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button {
    padding: 0px 5px;
}

button:hover,
button.active,
button.focused {
    background: rgba(100, 114, 125, 0.5);
}

button.urgent {
    background-color: #eb4d4b;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#idle_inhibitor,
#pulseaudio,
#wireplumber,
#custom-media,
#custom-updates,
#custom-emoji,
#custom-colorpicker,
#custom-powerprofile,
#custom-screenshot,
#custom-clipboard,
#custom-powermenu,
#tray,
#mpd { 
    color: #ffffff;
    padding: 0 5px;
    margin: 0px 3px;
}

#window,
#workspaces {
}

.modules-left {
    margin-left: 2px;
}

.modules-right {
    margin-right: 2px;
}
