* {
  all: unset;
}

$HOME: "env($HOME)";

.wallpaper {
  background-image: url("${HOME}/.active-wallpaper");
  background-size: 100% 100%;
}

.eww-bar {
  background-color: rgba(17, 17, 17, 0.8);
  margin: 5px 0px 5px 0px;
  border-radius: 5px;
}

.bar-button {
  margin: 2px 2px 2px 2px;
  border-radius: 5px;
  background-color: rgba(34, 34, 34, 0.8);
}

.bar-button:hover {
  background-color: rgba(51, 51, 51, 0.8);
}

.workspace-current {
  border-radius: 5px;
  background-color: rgba(68, 68, 68, 0.8);
}

