* {
  all: unset; //Unsets everything so you can style everything from scratch
}

$HOME: "env($HOME)";

//Global Styles
// THESE STYLE WINDOWS
.wallpaper {
  background-image: url("${HOME}/.active-wallpaper");
  background-size: 100% 100%;
}

.eww-bar {
  background-color: rgba(17, 17, 17, 0.8);
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 1px;
  margin-right: 1px;
  border-radius: 5px;
}

.app-launcher {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 2px;
  margin-right: 2px;
  padding: 1rem 0 .85rem 0; // TODO: FIGURE THIS OUT
  background-image: url("./assets/nixos-icon.svg");
  background-size: contain;
  // background-repeat = no-repeat;
}
