* {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

$HOME: "env($HOME)";

.wallpaper {
  background-image: url("${HOME}/.active-wallpaper");
  background-size: 100% 100%;
}

.bar { // the defwindow
  background-color: rgba(0, 0, 0, 0);
}

.eww-bar {
  background-color: rgba(17, 17, 17, 0.8);
  margin: 5px 0px 5px 0px;
  padding: 1px 0px 1px 0px;
  border-radius: 5px;
}

.bar-button {
  margin: 1px 2px 1px 2px;
  padding: 0 0 0 0;
  border-radius: 5px;
}

.workspace-current {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.3);
  font-size: 1.5em;
}

.clock-text {
  font-size: 12px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
